* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: -webkit-gradient(linear, left bottom, right top, from(#F37335), to(#FDC830));
  background: linear-gradient(to top right, #F37335, #FDC830);
  margin: 0;
  padding: 0 15px;
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
  * Address Firefox 3+ setting `line-height` on `input` using `!important` in
  * the UA stylesheet.
  */
button,
input {
  line-height: normal;
}

/**
  * Address inconsistent `text-transform` inheritance for `button` and `select`.
  * All other form control elements do not inherit `text-transform` values.
  * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
  * Correct `select` style inheritance in Firefox 4+ and Opera.
  */
button,
select {
  text-transform: none;
}

/**
  * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
  *    and `video` controls.
  * 2. Correct inability to style clickable `input` types in iOS.
  * 3. Improve usability and consistency of cursor style between image-type
  *    `input` and others.
  * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
  *    Known issue: inner spacing remains in IE 6.
  */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
  * Re-set default cursor for disabled elements.
  */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
  * 1. Address box sizing set to content-box in IE 8/9.
  * 2. Remove excess padding in IE 8/9.
  * 3. Remove excess padding in IE 7.
  *    Known issue: excess padding remains in IE 6.
  */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
  * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
  * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
  *    (include `-moz` to future-proof).
  */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
  * Remove inner padding and search cancel button in Safari 5 and Chrome
  * on OS X.
  */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
  * Remove inner padding and border in Firefox 3+.
  */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
  * 1. Remove default vertical scrollbar in IE 6/7/8/9.
  * 2. Improve readability and alignment in all browsers.
  */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
  * Remove most spacing between table cells.
  */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.u-wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?cjk47d");
  src: url("../fonts/icomoon.eot?cjk47d#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?cjk47d") format("truetype"), url("../fonts/icomoon.woff?cjk47d") format("woff"), url("../fonts/icomoon.svg?cjk47d#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart:before {
  content: "\e93a";
}

.icon-map:before {
  content: "\e94b";
}

.icon-clock:before {
  content: "\e94e";
}

.icon-user:before {
  content: "\e971";
}

.icon-search:before {
  content: "\e986";
}

.icon-heart:before {
  content: "\e9da";
}

.icon-cancel:before {
  content: "\ea0d";
}

.icon-checkmark:before {
  content: "\ea10";
}

.u-divider--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-app {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  -ms-grid-rows: 100px (1fr)[5];
      grid-template-rows: 100px repeat(5, 1fr);
      grid-template-areas: "header header header" "results recipe shopping" "results recipe shopping" "results recipe shopping" "results recipe shopping" "results recipe shopping";
  border-radius: 3px;
  overflow: hidden;
  margin: 50px 0;
}

.c-header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  background: #eeeeee;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-header__logo {
  width: 80px;
}

.c-header__search-bar {
  width: 320px;
  padding: 12px;
  border-radius: 50px;
  border-style: none;
  outline: none;
}

.c-header__favs {
  font-size: 2em;
  color: #F37335;
  -webkit-transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s;
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s;
  cursor: pointer;
}

.c-header__favs:hover {
  color: #FDC830;
}

.c-results {
  -ms-grid-row: 2;
  -ms-grid-row-span: 5;
  -ms-grid-column: 1;
  grid-area: results;
  background: #fafafa;
}

.c-recipe {
  -ms-grid-row: 2;
  -ms-grid-row-span: 5;
  -ms-grid-column: 2;
  grid-area: recipe;
  background: #eeeeee;
}

.c-recipe__cover {
  width: 100%;
}

.c-recipe__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-recipe__ingridients-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.c-shopping {
  -ms-grid-row: 2;
  -ms-grid-row-span: 5;
  -ms-grid-column: 3;
  grid-area: shopping;
  background: #fafafa;
}

.c-button {
  background: -webkit-gradient(linear, left bottom, right top, from(#F37335), to(#FDC830));
  background: linear-gradient(to top right, #F37335, #FDC830);
  color: white;
  border-style: none;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 1.2em;
  padding: 6px 24px;
  font-weight: 500;
  -webkit-transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
  outline: none;
}

.c-button:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.c-button--round {
  padding: 10px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-item__icon {
  color: #F37335;
}

.c-item__text {
  margin: 0 5px;
}

.c-hit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  cursor: pointer;
}

.c-hit:hover {
  background: #eeeeee;
}

.c-hit__image {
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin: 0 15px;
}

.c-hit__title {
  font-size: 1.3em;
  margin: 0;
  color: #F37335;
}

.c-hit__source {
  margin: 5px 0;
}
/*# sourceMappingURL=style.css.map */