// * VARIABLES
$color__grey: #eeeeee;
$color__light-grey: #fafafa;
$color__primary: #F37335;
$color__secondary: #FDC830;

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    // background: linear-gradient(to top right, #F7971E, #FFD200);
    background: linear-gradient(to top right, #F37335, #FDC830);
    margin: 0;
    padding: 0;
}

section {
    padding: 10px;
}

// * UTILITIES
@import './utils/reset';
@import './utils/wrapper';
@import './utils/icons';

// * COMPONENTS
@import './components/app';
@import './components/header';
@import './components/results';
@import './components/recipe';
@import './components/shopping';