.c-header {
    grid-area: header;
    background: $color__grey;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
    align-items: center;

    &__logo {
        width: 50px;
    }

    &__search-bar {
        width: 320px;
        padding: 12px;
        border-radius: 50px;
        border-style: none;
        outline: none;
    }
}