.c-recipe {
    grid-area: recipe;
    background: $color__grey;

    &__cover {
        width: 100%;
    }

    &__info {
        display: flex;
        justify-content: space-between;
    }

    &__ingridients-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}