.c-recipe {
    grid-area: recipe;
    background: $color__grey;
    &__top {
        position: relative;
    }

    &__title {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        font-size: 2.5em;
        color: white;
        transform: rotate(-10deg);
    }

    &__cover {
        width: 100%;
        margin-bottom: 50px;
    }

    &__info, &__ingridients, &__how-to {
        padding: 0 50px;
    }

    &__info {
        margin: 30px 0;
        display: flex;
        justify-content: space-between;
    }

    &__ingridients-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px 0;
    }
    &__how-to {
        text-align: center;
        &-title {
            font-size: 1.5em;
            text-transform: uppercase;
            color: $color__primary;
            transform: rotate(-4deg);
            margin: 40px 0;
        }
    }
}